<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>SkullKing Online</title>
    <base href="." />

    <link href="/css/skull-king.css" rel="stylesheet">
    <link href="/css/bootstrap-5.3.6.min.css" rel="stylesheet">

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap-5.3.6.min.js"></script>
    <script src="/js/skull-client-v2.js"></script>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
</head>